.container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

.main {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  min-height: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 3px #efefef;
  z-index: 1;
}

.left {
  height: 100%;
  min-width: 420px;
  padding: 1rem;
  background-color: #ffffff;
  border-right: 1px solid #ffc524
}

.centerWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-width: 50%;
  background-color: #ffffff;
}

.message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 50%;
  padding: 2rem;
  background-color: #ffffff;
}

.chatroomTitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 1rem;
}

.announcement {
  background-color: #ffaa9c;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 0;
}

.lastPay {
  background-color: #ffaa9c;
  text-align: center;
  font-size: 15px;
  padding: 0 0 0.5rem 0;
}

.inputWrap {
  min-height: auto;
  border-top: 1px solid #ffc524;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 10px;
}

.inputMsg {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.msgWrap {
  height: auto;
  margin-bottom: 5px;
}

.right {
  height: 100%;
  width: auto;
  padding: 1rem;
  background-color: #ffffff;
  border-left: 1px solid #ffc524
}

.footer {
  min-height: 45px;
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
